* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #A3EBB1;
}

.page {
  margin: 0 auto;
}

.header {
  width: 100%;
  text-align: center;
  background-color: #116530;
}

.content {
  display: flex;
  justify-content: center;
}
.box-content {
  background-color: #21B6A8;
  width: 960px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.footer {
  background-color: #18A558;
}

.content-item {
  width: 450px;
  height: 130px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #FFF;
}

@media only screen and (max-width: 960px) {
  .page {
    width: 100%;
  }
  .content-item {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 961px) {
  .page {
    width: 960px;
    justify-content: center;
  }
  .box-content {
    background-color: red;
  }
}
