body {
  margin: 0;
  height: 650px;
  background-image: url('images/photo1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FFF;
  font-family: Arial;
}

.header {
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin-top: 10px;
}

.header > ul {
  margin: 5px 0;
}

.brand {
  color: #67595E;
  font-size: 35px;
  margin: auto 0;
  font-weight: bolder;
}

.menu {
  font-size: 30px;
  color: #67595E;

}

.menu > li {
  display: inline;
  margin-right: 35px;

}

.menu >li:last-of-type {
  margin-right: 0;
}

.content-container {
  display: flex;
  justify-content: center;
}

.content {
  margin-top: 325px;
  text-align: center;
}

.content > h1 {
  color: #FFF;
  margin: 0;
  font-size: 50px;
  font-weight: bolder;
}

.button {
  display: flex;
  justify-content: center;
}

.button > p {
  color: #FFF;
  padding: 15px 5px;
  border: 1px solid #FFF;
  border-radius: 5px;
  box-sizing: border-box;
  width: 200px
}